.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  text-align: center;
  color: white;
}

.app-title {
  font-size: 3.5em;
}

.category-header {
  text-transform: uppercase;
  font-size: 1.5em;
}

.category-votes {
  padding-right: 10px;
}

.container {
  margin-bottom: 50px;
  margin-top: 50px;
}
